{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSameLine": true,
    "svelteBracketNewLine": true,
    "arrowParens": "avoid"
}
